.menu {
    margin-left: 1em;
}

.columns {
    margin-top: 0.2em;
}

.brand {
    margin-top: 0.4em;
    margin-left: 0.4em;
}

.content { 
    padding: 0.4em;
}

.menu-list a { 
    font-size: 1.1em;
}

span.icon-name { 
    padding: 0.5em;
}