{% extends "notes/notes_base.html" %}


{% block content %}
<form id="create-note" action="/notes/update" method="post">
    <h1 class="title">{{ note.id }}</h1>
    <input type="hidden" name="title" value="{{ note.id }}">
    <div class="field">
        <label class="label">Markdown</label>
        <div class="control">
            <textarea name="text" id="text" class="textarea" rows="40">{{ note.text }}</textarea>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button" type="submit" id="send">Submit</button>
        </div>
    </div>
</form>
{% endblock %}

{% block noteaction %}
<li>
    <a href="/notes/show/{{ note.id }}">Cancel</a>
</li>
{% endblock %}