<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Liminal{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/fa.min.css">
    {% block head %}{% endblock %}
</head>

<body>
    <nav class="navbar is-visible">
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-brand">
                <div class="block">
                    <a href="/">
                        <div class="title is-4 brand">LIMINAL</div>
                    </a>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% block auth %}
                        <a href="/login" class="button is-small">
                            Log in
                        </a>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

    </nav>
    <div class="container">
        {% block sect %}{% endblock %}
        {% include "menu.html" %}
        <div class="columns">
            <aside class="column is-2 aside menu">
                <p class="menu-label">Actions</p>
                <ul class="menu-list">
                    {% block actions %}
                    <li><a>Yoink</a></li>
                    <li><a>Yeet</a></li>
                    {% endblock actions %}
                </ul>
            </aside>
            <div class="column is-10">
                <div>
                    {% block content %}<p>Placeholder content</p>{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>