<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Liminal{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bulma.min.css" />
    <link rel="stylesheet" href="/static/css/app.css" />

    {% block head %}{% endblock %}
</head>

<body>
    <nav class="navbar is-white">
        <div class="container">
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        Home
                    </a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        {% block actions %}
                        {% endblock actions %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="columns">
        <div class="column is-3 ">
            {% include "menu.html" %}
        </div>
        <div class="column is-9">
            <div id="block">
                {% block content %}<p>Placeholder content</p>{% endblock %}
            </div>
        </div>
    </div>
    <script src="/static/js/app.js"></script>
</body>

</html>
