{% extends "base.html" %}

{% block content %}
<nav class="breadcrumb is-medium" aria-label="breadcrumbs">
    <ul>
        {% for seg in segments %}
        <li><a href="/files/{{ prefixes[loop.index0]}}">{{ seg }} </a></li>
        {% endfor %}
    </ul>
</nav>
<div class="content">
    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
        <tbody>
            {% for item in items %}
            <tr>
                <td><a href="/files/{{ path }}/{{ item }}">{{ item }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}