{% extends "base.html" %}
{% let section = "" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/unpoly.min.css" />
<script src="/static/js/unpoly.min.js"></script>

{% endblock %}
{% block content %}
<p class="control has-icons-left">
<form method="GET" action="/search" up-autosubmit up-target=".results" id="query">
    <div class="field has-addons">
        <div class="control">
            <input class="input" name="query" type="search" placeholder="Search" autocomplete="off" />
        </div>
        <div class="control">
            <button class="button" type="submit" id="send" up-submit="false">Search</button>
        </div>
    </div>
</form>
<br>
<div class="results"></div>

</p>

<br>
<form id="ticket-upload" method="POST" action="/ticket" up-target=".ticket_info">
    <div class="field">
        <label class="label">Send Ticket</label>
        <div class="control">
            <textarea name="ticket" id="ticket" class="textarea"></textarea>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button" type="submit" id="send">Send</button>
        </div>
    </div>
</form>
<div class="ticket_info">INFO</div>
{% endblock %}