{% let menu_items = ["notes","files","admin","replica"] %}
{% let menu_icons = ["fa-list","fa-file","fa-tools","fa-server"] %}
<div class="tabs is-boxed">
    <ul>
        {% for item in menu_items %}
        <li {%if section.as_str()==*item %} class="is-active" {% endif %}>
            <a href="/{{ item }}"><span class="icon "><i class="fas {{ menu_icons[loop.index0] }}"
                        aria-hidden="true"></i></span>
                <span>{{ item | capitalize }}</span></a>
        </li>
        {% endfor %}
    </ul>
</div>