<div class="tabs is-boxed">
    <ul>
        <li {%if section=="notes" %}class="is-active" {% endif %}>
            <a href="/notes"><span class="icon "><i class="fas fa-list"
                        aria-hidden="true"></i></span><span>Notes</span></a>
        </li>
        <li {%if section=="files" %}class="is-active" {% endif %}>
            <a href="/files"><span class="icon "><i class="fas fa-file"
                        aria-hidden="true"></i></span><span>Files</span></a>
        </li>
        <li {%if section=="admin" %}class="is-active" {% endif %}>
            <a href="/admin"> <span class="icon"><i class="fas fa-tools" aria-hidden="true"></i></span>
                <span>Admin</span></a>
        </li>
    </ul>
</div>